<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091481839862-87ps8qlros6ikolm0auo869gc4uo6fqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091481839862-87ps8qlros6ikolm0auo869gc4uo6fqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091481839862-cgmoqjeu0deeetc1cb2o806kfgl53kio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_YvsudHSEeAAsGZleeHQ62ezEkGFIfCc</string>
	<key>GCM_SENDER_ID</key>
	<string>1091481839862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallyapp</string>
	<key>PROJECT_ID</key>
	<string>wallyapp-34964</string>
	<key>STORAGE_BUCKET</key>
	<string>wallyapp-34964.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091481839862:ios:7971bfe7c026a70c3924d7</string>
	<key>DATABASE_URL</key>
	<string>https://wallyapp-34964-default-rtdb.firebaseio.com</string>
</dict>
</plist>